<section id="works" class="works section no-padding ">
  <div class="container-fluid">
    <div class="row no-gutter">
      <%= javascript_include_tag 'youtube.js',page: 'load' %>
    </div>
  </div>
</section>
<div class="ol-md-2 col-md-offset-5">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="前のページへ">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#" aria-label="次のページへ">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
